[submodule "dist_diagnosis"]
	path = dist_diagnosis
	url = https://github.com/Q-ModifiedJ/dist_diagnosis.git
[submodule "tpcc-mysql"]
	path = tpcc-mysql
	url = https://github.com/Percona-Lab/tpcc-mysql.git
[submodule "docs/paper"]
	path = docs/paper
	url = https://github.com/Micuks/DBPecker-Paper.git
